@model IEnumerable<DomainModel.EfModels.DeviceEntity>

@{
    ViewBag.Title = null;
    Layout = null;
}

<h2 class="MainPanel_Index_Zag">Список аварийных устройств</h2>

<table class="table table-hover">
    <tr>
        <th>
           Название
        </th>
        <th>
            Производитель
        </th>
        <th>
            Модель
        </th>
        <th>
            Действия
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceModel.Maker.MakerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceModel.ModelName)
        </td>
        <td>
            @Html.ActionLink("Подробности", "DetailsDevice", new {  id = item.IdDeviceEntity  })
        </td>
    </tr>
}

</table>
