@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
    <link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/bootstrap-theme.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "form-signin" }))
        {
            @Html.Hidden("idUser", TempData["idUser"])
            <h4 class="form-signin-heading">Необходимо сменить пароль</h4>
            
                if (ViewData["message"] != null)
                {
                    <div class="alert alert-error">
                        <p>@ViewData["message"]</p>
                    </div>
                }
            
            <input type="password" name="oldPassword" class="input-block-level" placeholder="Старый пароль">
            <input type="password" name="newPassword" class="input-block-level" placeholder="Новый пароль">
            <input type="password" name="confirmPassword" class="input-block-level" placeholder="Повторите пароль">
            <button class="btn btn-large btn-primary" type="submit">Применить</button>
        }
    </div>
</body>
</html>
