@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
    <link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/bootstrap-theme.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "form-signin" }))
        {
            @Html.Hidden("idUser", TempData["idUser"])
          <h4 id="Avtorizaczya_Zagalovok" class="form-signin-heading">Смена пароль</h4>

            if (ViewData["message"] != null)
            {
                <div class="alerttt">
                    <p>@ViewData["message"]</p>
                </div>
            }
            <p class="Zagalovok">Введите текущий пароль</p>
            <input type="password" name="oldPassword" class="pole" placeholder="Старый пароль">
            <p class="Zagalovok">Новый пароль</p>
    <input type="password" name="newPassword" class="pole" placeholder="Новый пароль">
    <p class="Zagalovok">Подтвердите новый пароль </p>
    <input type="password" name="confirmPassword" class="pole" placeholder="Повторите пароль">
    <button id="Avt_Kn" class="btn btn-large btn-primary" type="submit">Применить</button>
        }
    </div>
</body>
</html>
