@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
    <link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/bootstrap-theme.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        @using (Html.BeginForm("LogIn", "Home", FormMethod.Post, new { @class = "form-signin" }))
        {
            <h4 class="form-signin-heading" id="Avtorizaczya_Zagalovok">Введите учетные данные</h4>
            if (ViewData["message"] != null)
            {
                <div class="alerttt">
                    <p>@ViewData["message"]</p>
                </div>
            }
            <p class="Zagalovok">Имя пользователя</p>
            <input type="text" name="login" class="pole" placeholder="Введите имя пользователя">
            <p class="Zagalovok">Пароль</p>
            <input type="password" name="password" class="pole" placeholder="Введите пароль">
            /*<label class="checkbox"></label>*/
            <button id="Avt_Redactory" class="btn btn-large btn-primary" type="submit">Войти</button>
        }

    </div>
</body>
</html>