@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
    <link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/bootstrap-theme.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        @using (Html.BeginForm("LogIn", "Home", FormMethod.Post, new { @class = "form-signin" }))
        {
            <h4 class="form-signin-heading">Введите учетные данные</h4>
            if (ViewData["message"] != null)
            {
                <div class="alert alert-error">
                    <p>@ViewData["message"]</p>
                </div>
            }
            <input type="text" name="login" class="input-block-level" placeholder="Логин">
            <input type="password" name="password" class="input-block-level" placeholder="Пароль">
            <label class="checkbox">
            </label>
            <button class="btn btn-large btn-primary" type="submit">Войти</button>
        }
    </div>
</body>
</html>
