@model UI.Models.DeviceItemWrap

<div>
    <b>OID: </b>@Model.DeviceItem.DeviceItemEntity.Oid
    @if (Model.DeviceItem.ItemHistory != null)
    {
        <div id="historyAccordion" class="accordion">
            <h3>История параметра</h3>
            <div>
                @foreach (var itemHistory in Model.DeviceItem.ItemHistory.OrderByDescending(t => t.Timestamp))
                {
                    <div class="well">
                        <p><b>Значение парамера на @itemHistory.Timestamp :</b>@itemHistory.Value</p>
                    </div>
                }
            </div>
        </div>
    }
</div>

