@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {

    <script>
        $(function () {
            $("#tabs").tabs().addClass("ui-tabs-horizontal ui-helper-clearfix");
            $("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
        });
    </script>

}

<div class="contentInner">
    <div class="header">
        <h1>@ViewBag.Title</h1>
    </div>

    <div id="tabs">
        <ul>
            <li>@Html.ActionLink("Аварийные устройства", "GetAll", "Warnings")</li>
            <li>@Html.ActionLink("Все устройства", "GetAllDevices", "Warnings")</li>
        </ul>   
        <div id="tabs-1">
        </div>

        <div id="tabs-2">
            @*@Html.Partial("_deviceList")*@
        </div>

    </div>
</div>
