@model UI.Models.ReportParameterModel

<script>

    $(document).ready(function () {
        $('#modalModels').dialog({
            autoOpen: false,
            height: 345,
            width: 330,
            show: { effect: "toggle", duration: 800 },
            buttons: {
                "Применить": function () {
                    $('#modelChoose').html('');
                    $('#modelChoose').removeClass("alert-info").addClass("alert-success");
                    $("input#modelChk:checked").each(function () {
                        var id = $(this).attr('idNot');
                        var name = $(this).attr('nameNot');
                        var descr = $(this).attr('descr');
                        $('#modelChoose').append('<input type="hidden" name="@Model.Name" value="' + id + '" />');

                        $('#modelChoose').append('<div>Выбрана модель: ' + name + '</div>');

                    });
                    //$(this).dialog('close');
                }
            },
            zIndex: 100000
        });
    })

    function chooseModel(e) {
        $('#modalModels').html('');
        $.ajax({
            url: "/DeviceModels/GetAllCheck",
            type: "GET",
            success: function (data) {
                $('#modalModels').html(data);
            }
        })
        $('#modalModels').dialog('open');
    }

</script>

<div class="well">
    <div>
        @Model.PromptName
    </div>
    <div id="modelChoose" class="alert alert-info">
        ничего не выбрано
    </div>
    <input type="button" class="btn btn-primary btn-small" onclick="chooseModel(event);" value="Выбрать модель устройства" id="btnModelChoose" />
</div>

<div id="modalModels" title="Выбор модели устройства">

</div>